.parallazy:nth-child(5n + 2) {
    -ms-flex-preferred-size: 40vw;
        flex-basis: 40vw; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}body::after {
    content: '';
    position: fixed;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
    pointer-events: none;
    border: 1px solid #000;
    z-index: 2;
}body {
  margin: 0;
  background: #fff;
  padding: 100vh 100vw 100vh 0 /* stylelint-disable-line plugin/no-unsupported-browser-features */
}body::before {
    content: 'scroll';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border: 100px solid #000;
    opacity: 0.25;
    z-index: 2;
    font-size: 10vw; /* stylelint-disable-line plugin/no-unsupported-browser-features */

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: sans-serif;
}

.box {
  width: 200vw; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
  background: #fff;
}

.description {
  width: 200vw; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  padding: 1em 1em 1em calc(100px + 1em);
  font-size: 1em;
  background: #555;
  color: #fff;
  font-family: sans-serif;
}

.parallazy {
  position: relative;
  height: 20vw; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20vw;
          flex: 0 1 20vw; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1em;
  font-family: monospace;
  font-weight: bolder;
  background: #de5b55;
  color: #000;
  overflow: hidden;
  transition: background-color 0.25s ease-in-out
}

.parallazy:nth-child(3n + 2) {
    -ms-flex-preferred-size: 30vw;
        flex-basis: 30vw; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #7ca0fb;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  z-index: 0;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
}

.perc-x,
.perc-y,
.easing {
  position: relative;
  z-index: 1;
}

.d {
  background: #fea32b;
}

.e {
  background: #fc58fc;
}

.f {
  /* pluginLoaded */
}

.d.e {
  background: #63ff86;
}
